{
	"singleQuote": true,
	"semi": false,
	"useTabs": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false
			}
		}
	]
}
