.vac-app-border {
	border: var(--chat-border-style);
}

.vac-app-border-t {
	border-top: var(--chat-border-style);
}

.vac-app-border-r {
	border-right: var(--chat-border-style);
}

.vac-app-border-b {
	border-bottom: var(--chat-border-style);
}

.vac-app-box-shadow {
	transition: all 0.5s;
	box-shadow: 0 2px 2px -4px rgba(0, 0, 0, 0.1),
		0 2px 2px 1px rgba(0, 0, 0, 0.12), 0 1px 8px 1px rgba(0, 0, 0, 0.12);
}

.vac-item-clickable {
	cursor: pointer;
}

.vac-vertical-center {
	display: flex;
	align-items: center;
	height: 100%;

	.vac-vertical-container {
		width: 100%;
		text-align: center;
	}
}

.vac-svg-button {
	max-height: 30px;
	display: flex;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		transform: scale(1.1);
		opacity: 0.7;
	}
}

.vac-avatar {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ddd;
	height: 42px;
	width: 42px;
	min-height: 42px;
	min-width: 42px;
	margin-right: 15px;
	border-radius: 50%;
}

.vac-blur-loading {
	filter: blur(3px);
}

.vac-badge-counter {
	height: 13px;
	width: auto;
	min-width: 13px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px;
	font-size: 11px;
	font-weight: 500;
}

.vac-text-ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vac-text-tag {
	color: var(--chat-message-color-tag);
	cursor: pointer;
}

.vac-file-container {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	background: var(--chat-bg-color-input);
	border: var(--chat-border-style-input);
	border-radius: 4px;
	padding: 10px;

	svg {
		height: 28px;
		width: 28px;
	}

	.vac-text-extension {
		font-size: 12px;
		color: var(--chat-message-color-file-extension);
		margin-top: -2px;
	}
}
