.app-border {
	border: var(--chat-border-style);
}

.app-border-t {
	border-top: var(--chat-border-style);
}

.app-border-r {
	border-right: var(--chat-border-style);
}

.app-border-b {
	border-bottom: var(--chat-border-style);
}

.vertical-center {
	display: flex;
	align-items: center;
	height: 100%;

	.vertical-container {
		width: 100%;
		text-align: center;
	}
}

.svg-button {
	max-height: 30px;
	display: flex;
	cursor: pointer;
	transition: all 0.2s;
}

.svg-button:hover {
	transform: scale(1.1);
	opacity: 0.7;
}

.room-avatar {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #9ca6af;
	height: 42px;
	width: 42px;
	margin-right: 15px;
	border-radius: 50%;
}
