.markdown {
	p {
		margin: 0;
	}

	ol {
		display: flex;
		flex-direction: column;
		list-style-position: inside;
	}

	ul {
		display: flex;
		flex-direction: column;
	}

	code {
		display: block;
		font-size: 12px;
		color: var(--chat-markdown-color-multi);
		background: var(--chat-markdown-bg);
		border: 1px solid var(--chat-markdown-border);
		border-radius: 3px;
		margin: 4px 0;
		padding: 7px;
	}

	p {
		code {
			display: inline-block;
			font-size: 12px;
			color: var(--chat-markdown-color);
			background: var(--chat-markdown-bg);
			border: 1px solid var(--chat-markdown-border);
			border-radius: 3px;
			margin: 2px 0;
			padding: 2px 3px;
		}
	}
}
